body {
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}

.container {
    width: 100%;
    max-width: 56rem;
    padding-right: 75px;
    padding-left: 75px;
    margin: 0 auto;
    box-sizing: border-box;
   position: relative;
}

.header {
    padding: 0;
    margin: 20px 0;
    max-height: 82px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border-radius: 50%;
    height: 65px;
}

nav {
    display: inline-flex;
    margin: auto 10px;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list-item {
    margin: 0 10px;
    color: #04787D;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
    border-bottom: 2px solid #04787D00;
    padding-bottom: 5px;
}

.nav__list-item:hover {
    border-bottom: 2px solid #04787D;
}

.top-section {
    background-color: #DBEAFE;
    margin: auto 0;
    padding: 9rem 0;
}

.top-section__title {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 40px;
}

.top-section__subtitle {
    margin-top: 15px;
    font-size: 24px;
    line-height: 3rem;
}

.top-section__title--green {
    color: #04787D;
    font-weight: 300;
}

.top-section__subtitle-link {
    background-color: #04787D;
    font-weight: 300;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
}

.title {
    margin-bottom: 1.5rem;
    font-size: 39px;
    line-height: 3rem;
}

.text {
    margin-bottom: 1.5rem;
    font-size: 16px;
}


.button {
    outline: none;
    border-radius: 6px;
    color: white;
    background-color: #10B981;
    padding: 10px 15px;
    margin: 15px 0;
    font-weight: 600;
    transition: all .25s cubic-bezier(.17,.67,.83,.67);
}

.button:active {
    background-color: #04787D;
}

.button:disabled {
    background-color: #cccccc;
    color: #585858;
    pointer-events: none;
}

@media (any-hover: hover) {
    .button:hover {
        box-shadow: 0 3px 0 #2d2d2d;
    }
}

.try-section {

}

.try-section__title {

}


.code {
    background: #2d2d2d;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 10px;
}

.code__text {
    color: #ccc;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 1em;
    text-align: left;
    line-height: 1.5;
}

.resources-list {
    list-style: disc;
    margin-left: 20px;
}

.resources-list__item {
    margin: 10px 0;
    line-height: 160%;
}

.resources-list__link {
    color: #10B981;
}

.resources-list__link:active {
    color: tomato;
}


.news__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    max-height: 700px;
    overflow-y: auto;
    padding: 0 15px;
}

.news-card {
    margin: 15px auto;
    width: 100%;
    padding: 1rem 1.2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: all 0.3s ease-in;
}

.news-card__title {
    font-size: 22px;
    margin-bottom: .75rem;
}


.news-card__description {
    font-size: 16px;
    margin-bottom: .25rem;
}

.news-card__video,
.news-card__audio {
    margin-bottom: 10px;
}

.news-card__video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.news-card__audio {
    width: 100%;
}


@media (max-width: 800px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .top-section__title {
        font-size: 45px;
    }

    .top-section__subtitle {
        font-size: 20px;
        line-height: 190%;
    }
}

@media (max-width: 420px) {
    .header__inner,
    .nav__list {
        flex-flow: column;
    }

    .nav__list {
        margin: 20px auto;
    }

    .header {
        max-height: max-content;
    }
}










/*----------HELPERS----------*/


.mb-25 {
    margin-bottom: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}