{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/destyle.css' %}">
    <title>BulakhovPlaceholder</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <img src="https://sun2-10.userapi.com/s/v1/ig2/ZfG6PplgNGaJd3chzwQiorSbKYVXDLEGrSKVpa_T_iLTX3JnS2pUftOCZ9iGXPLkrEsofcfUtEtl2xPUtYz3YMPu.jpg?size=200x0&quality=96&crop=868,67,633,633&ava=1" alt="BulakhovPlaceholder" class="logo">
                <nav class="nav">
                    <ul class="nav__list">
                    <li class="nav__list-item"><a href="#">Guide</a></li>
                    <li class="nav__list-item"><a href="#">Sponsor this project</a></li>
                    <li class="nav__list-item"><a href="#">About</a></li>
                </ul>
            </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="top-section">
           <div class="container">
                <h1 class="top-section__title">{<span class="top-section__title--green">BULAKHOV</span>} Placeholder</h1>
                <span class="top-section__subtitle">Free fake API for testing and prototyping.</span><br>
                <span class="top-section__subtitle">Powered by <span class="top-section__subtitle-link">dear friends</span></span>
           </div>
        </div>
        <div class="try-section mt-50 mb-50">
            <div class="container">
                <h1 class="try-section__title title">Try it</h1>
                <p class="try-section__text text">
                    Run this code here, in a console or from any site to get a hilarious Nikita's thought:
                </p>
                <pre class="code">
                    <code class="code__text code__text--only-text">
fetch('https://artemka711.pythonanywhere.com/api/v1/bulakhovs-single-thought/')
    .then(response => response.json())
    .then(json => console.log(json))
                    </code>
                </pre>
                <button class="button button--large button--run-code button--run-code--only-text">Run Code</button>
                <pre class="code">
                    <p class="code__text code__text--result code__text--only-text-result">{}</p>
                </pre>
            </div>
            <div class="container mt-50">
                <h1 class="try-section__title title">More Video and Audio!</h1>
                <p class="try-section__text text">
                    Run this code here, in a console or from any site to get a News Card with video and audio content:
                </p>
                <pre class="code">
                    <code class="code__text code__text--media">
fetch('https://artemka711.pythonanywhere.com/api/v1/bulakhovs-news/')
    .then(response => response.json())
    .then(json => console.log(json))
                    </code>
                </pre>
                <button class="button button--large button--run-code button--run-code--media">Try it!</button>
                <div class="news mt-25 mb-25">
                    <div class="news__list">
                        <span class="try_to_load">Try to load news!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="resources-section mt-50 mb-100">
            <div class="container">
                <h1 class="resources-section__title title">Resources</h1>
                <p class="resources-section__text text">
                    <i>BulakhovPlaceholder</i> comes with a set of common resources:
                </p>
                <ul class="resources-list">
                    <li class="resources-list__item"><a href="#" class="resources-list__link">/api/v1/bulakhovs-thoughts/</a> - latest 20 Nikita thoughts.</li>
                    <li class="resources-list__item"><a href="#" class="resources-list__link">/api/v1/bulakhovs-thoughts-count/</a> - do you know how many great things Nikita knows? There is a separate method to figure out.</li>
                    <li class="resources-list__item"><a href="" class="resources-list__link">/api/v1/bulakhovs-single-thought/</a> - only one random thought from NikTer.</li>
                    <li class="resources-list__item"><strong>(we're updating functionality every day)</strong></li>
                </ul>
            </div>
        </div>
    </main>
</body>
<script src="{% static 'scripts/app.js' %}"></script>
</html>